<div class="container">
  <div class="left-section">
    <div class="logo-container">
      <div class="logo"></div>
    </div>
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          #emailInput="ngModel"
          required
          class="form-control"
        />
        <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
          O campo de e-mail é obrigatório.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          #passwordInput="ngModel"
          required
          class="form-control"
        />
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">
          O campo de senha é obrigatório.
        </div>
      </div>
      <div class="form-group buttons">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Entrar</button>
        <button type="button" class="btn btn-secondary" (click)="forgotPassword()">Esqueci a Senha</button>
      </div>
    </form>
    <p class="description">CampusConnect é um portal educacional que reúne dados escolares.</p>
  </div>
  <div class="right-section">
    <div class="background-image"></div>
  </div>
</div>
